{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load tz %}
{% block content %}
    {% if closest %}
        <h3>{% trans "Closest location:" %}</h3>
        <ul class="locations white">
            <li>
                <a href="/{{ closest.slug }}/">
                    {% trans "View info for" %}: <br/>
                    {% firstof closest.title closest.metadata.page_title closest.name %}
                    {% if closest.distance %}
                        <span style="direction: ltr">({{ closest.distance|floatformat }} km)</span>
                    {% endif %}
                </a>
            </li>
        </ul>
    {% endif %}
    <h3>{% trans "Other locations available:" %}</h3>
    {% for r in regions %}
        {% if r.children or not r.hidden %}
            <div class="location-accordion">
                <ul>
                    <li>
                        <input type="checkbox" id="checkbox-{{ r.id }}" name="checkbox-accordion"/>
                        <label for="checkbox-{{ r.id }}">{% firstof r.title  r.metadata.page_title r.name %}</label>
                        <div class="content">
                            {% if not r.hidden %}
                                <a class="location location-country" href="/{{ r.slug }}/?language={{ LANGUAGE_CODE }}/">
                                    <span class="location-helper">{% trans "View info for" %}</span>
                                    <span class="location-name">{% firstof r.title r.metadata.page_title r.name %}</span>
                                </a>
                            {% endif %}
                            {% if r.children %}
                                {% for c in r.children %}
                                    {% if c.level == 2  %}
                                        <a class="location location-region" href="/{{ c.slug }}/?language={{ LANGUAGE_CODE }}/">
                                            <span class="location-helper">{% trans "View info for" %}</span>
                                            <span class="location-name">{% firstof c.title c.metadata.page_title c.name %}</span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                {% for c in r.children %}
                                    {% if c.level == 3  %}
                                        <a class="location location-camp" href="/{{ c.slug }}/?language={{ LANGUAGE_CODE }}/">
                                            <span class="location-helper">{% trans "View info for" %}</span>
                                            <span class="location-name">{% firstof c.title c.metadata.page_title c.name %}</span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>

        {% endif %}
    {% endfor %}
    <hr/>
    <img src="/imaging/logo-bar/" alt="IRC | MercyCorps"/>
    <hr/>
    <ul class="locations">
        <li><a href="/acknowledgements/">{% trans "Acknowledgements" %}</a></li>
    </ul>
{% endblock content %}
