{% load static %}
{% load i18n %}
{% load helper_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="navbar" role="navigation">
    <div class="logo-container">
        <a href="/"><img src="{% static 'images/logo-light.png' %}" class="refugee-logo"/></a>
    </div>

    <div class="container">
        <div class="navbar-inner">
            <div class="navbar-left">
                <div class="logo-bar-container">
                    <img class="logo-bar" src="{% static 'images/logo-bar-light.png' %}"/>
                </div>
                <div style="padding-top: 3px">
                    <a href="{% url 'simple_ui:about' %}" class="about-us">
                        {% trans 'About us' %}
                    </a>
                        <a class="give-feedback" href="{% if LANGUAGE_CODE == 'ar' %}https://docs.google.com/forms/d/16KxtpLbQbdj7ohkpAxws65aZuWfeQa8jjgCBvcptfkk/viewform?entry.1237329743={% elif LANGUAGE_CODE == 'fa' %}https://docs.google.com/forms/d/1Kn2L3mEEFAGgn1YrRpaA7bHNTrKXrw8-zp0w6xfz5o0/viewform?entry.1237329743={% else %}https://docs.google.com/forms/d/1gc-hN_p5pqC3DoPXxTfCAmlIiCEd1mOIdQMWeAz2n_U/viewform?entry.1237329743={% endif %}">
                        {% trans "Give feedback" %}
                    </a>
                </div>
            </div>


            <ul class="navbar-language-list">
                {% for language in languages %}
                    <li>
                        <a class="{% if not forloop.last %}border-language{% endif %}"
                           href="/{{ language.code }}{{ request.get_full_path }}" lang="{{ language.code }}">
                            {{ language.name_local }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="navbar-button-container">
        <input type="checkbox" id="checkbox-navbar" name="checkbox-navbar"/>
        <label class="navbar-button" for="checkbox-navbar"><i class="fa fa-bars"></i></label>
        <div class="navbar-menu">
            <p class="section-header">{% trans "Actions" %}</p>
            <a href="/">
                {% trans "Change location" %}
            </a>
            <a href="{% url 'simple_ui:about' %}">
                {% trans 'About us' %}
            </a>
            <a href="{% if LANGUAGE_CODE == 'ar' %}https://docs.google.com/forms/d/16KxtpLbQbdj7ohkpAxws65aZuWfeQa8jjgCBvcptfkk/viewform?entry.1237329743={% elif LANGUAGE_CODE == 'fa' %}https://docs.google.com/forms/d/1Kn2L3mEEFAGgn1YrRpaA7bHNTrKXrw8-zp0w6xfz5o0/viewform?entry.1237329743={% else %}https://docs.google.com/forms/d/1gc-hN_p5pqC3DoPXxTfCAmlIiCEd1mOIdQMWeAz2n_U/viewform?entry.1237329743={% endif %}">
                {% trans "Give feedback" %}
            </a>
            <p class="section-header">{% trans "Change language" %}</p>
            {% for language in languages %}
                <a href="/{{ language.code }}{{ request.get_full_path }}"
                   lang="{{ language.code }}">
                    {{ language.name_local }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

