{% load static %}
{% load i18n %}
{% load helper_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="navbar" role="navigation">
    <div class="logo-container">
        <a href="/"><img src="{% static 'images/logo-light.png' %}" class="refugee-logo"/></a>
    </div>

    <div class="container">
        <div class="navbar-inner">
            <div class="navbar-left">
                <div class="logo-bar-container">
                    <img class="logo-bar" src="{% static 'images/logo-bar-light.png' %}"/>
                </div>
                <div style="padding-top: 3px">
                    <a href="#" class="about-us">
                        {% trans 'About us' %}
                    </a>
                    <a href="#" class="give-feedback">
                        {% trans "Give feedback" %}
                    </a>
                </div>
            </div>


            <ul class="navbar-language-list">
                {% for language in languages %}
                    <li>
                        <a class="{% if not forloop.last %}border-language{% endif %}"
                           href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}" lang="{{ language.code }}">
                            {{ language.name_local }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="navbar-button-container">
        <input type="checkbox" id="checkbox-navbar" name="checkbox-navbar"/>
        <label class="navbar-button" for="checkbox-navbar"><i class="fa fa-bars"></i></label>
        <div class="navbar-menu">
            <p class="section-header">{% trans "Actions" %}</p>
            <a href="/">
                {% trans "Change location" %}
            </a>
            <a href="/">
                {% trans 'About us' %}
            </a>
            <a href="/">
                {% trans "Give feedback" %}
            </a>
            <p class="section-header">{% trans "Change language" %}</p>
            {% for language in languages %}
                <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                   lang="{{ language.code }}">
                    {{ language.name_local }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

