{% load static %}
{% load i18n %}
{% load helper_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="logo-bar-container">
    <div style="width: 100%; text-align: center">
        <a href="/">
            <img src="{% static "images/wordmark.png" %}"/>
        </a>
    </div>
    <hr/>
    <div class="language-wrapper language-en">
        <ul class="languages detailed-languages">
            {% for language in languages %}
                <li>
                    <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}" lang="{{ language.code }}">
                        {{ language.name_local }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <hr/>
</div>
