{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load l10n %}
{% block content %}
    <div class="row location-selected">
        {% firstof location.title location.metadata.page_title location.name %}
    </div>
    <div class="general-info-container">

        {% for b in location.metadata.banners %}
            <div class="general-info-box" ng-repeat="b in ctrl.location.metadata.banners">
                {{ b|safe }}
            </div>
        {% endfor %}

        {% if not has_important %}
            <h1 class="quick-links">{% trans "Important information:" %}</h1>
            <div class="important-information-container">
                {% for p in location.content %}
                    {% if p.important %}
                        <a class="important-information-item"
                           href="#{% if p.anchor_name %}{{ p.anchor_name }}{% else %}Anchor_{{ p.index }}{% endif %}">
                            <div class="important-information-item-inner">
                                {{ p.title }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% for p in location.content %}
            {% if p.important %}
                <div class="general-info-item">
                    <input type="checkbox" id="checkbox-{{ p.index }}" name="checkbox-accordion"/>
                    <label class="general-info-item-header" for="checkbox-{{ p.index }}">
                        <span class="direction-filler"></span>
                        <i class="fa {{ p.vector_icon }}"></i>
                        <span>{{ p.title }}</span>
                    </label>
                    <div class="general-info-item-content">{{ p.section|safe }}</div>
                </div>
            {% endif %}
        {% endfor %}

        {% for p in location.content %}
            {% if not p.important %}
                <div class="general-info-item">
                    <input type="checkbox" id="checkbox-{{ p.index }}" name="checkbox-accordion"/>
                    <label class="general-info-item-header" for="checkbox-{{ p.index }}">
                        <span class="direction-filler"></span>
                        <i class="fa {{ p.vector_icon }}"></i>
                        <span>{{ p.title }}</span>
                    </label>
                    <div class="general-info-item-content">{{ p.section|safe }}</div>
                </div>
            {% endif %}
        {% endfor %}

        {% if publication_date %}
            <p class="general-info-date" data-date="{{ publication_date|utc|date:'c' }}">
                {% trans "Last updated on:" %} {{ publication_date|utc|localize }} UTC
            </p>
        {% endif %}
    </div>
{% endblock content %}
