{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load l10n %}
{% block content %}
    <div class="row title-bar">
        <div>{% firstof location.title location.metadata.page_title location.name %}</div>
        <a class="change-location-button" href="/">
            <span>{% trans "Change location" %}</span>
            <i class="fa fa-crosshairs"></i>
        </a>

    </div>

    <h1 class="quick-links">{% trans "Important information:" %}</h1>
    <div class="important-information-container">
        {% for info in location.important_information %}
            {% if not info.hidden %}
                <a href="{% url 'simple_ui:important-info' slug=location.slug info_slug=info.slug %}"
                   class="important-information-item {% if info.slug == important_info.slug %}active{% endif %}">
                    <div class="important-information-item-inner">
                        {{ info.metadata.page_title }}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row green-bar" style="margin-top: 10px">{{ important_info.metadata.page_title }}</div>
    <div class="general-info-container">{% for i in important_info.content %}{{ i.section | safe }}{% endfor %}</div>

    <div class="general-info-container">

        {% for b in location.metadata.banners %}
            <div class="general-info-box">
                {{ b|safe }}
            </div>
        {% endfor %}

        {% if location.content %}
            <div class="general-info-divider"></div>
        {% endif %}

        {% for p in location.content %}
            {% if p.important %}
                <div class="general-info-item">
                    <input type="checkbox" id="checkbox-{{ p.index }}" name="checkbox-accordion"/>
                    <label class="general-info-item-header" for="checkbox-{{ p.index }}">
                        <i class="fa {{ p.vector_icon }}"></i>
                        <span>{{ p.title }}</span>
                    </label>
                    <div class="general-info-item-content">{{ p.section|safe }}</div>
                </div>
            {% endif %}
        {% endfor %}

        {% for p in location.content %}
            {% if not p.important %}
                <div class="general-info-item {% if p.hide_from_toc and p.anchor_name %} hide-from-toc" id="{{ p.anchor_name }}{% endif %}">
                    <input type="checkbox" id="checkbox-{{ p.index }}" name="checkbox-accordion"
                           {% if p.hide_from_toc and p.anchor_name %}checked{% endif %}/>
                    <label class="general-info-item-header" for="checkbox-{{ p.index }}">
                        <i class="fa {{ p.vector_icon }}"></i>
                        <span>{{ p.title }}</span>
                    </label>
                    <div class="general-info-item-content">{{ p.section|safe }}</div>
                </div>
            {% endif %}
        {% endfor %}

        {% if publication_date %}
            <p class="general-info-date" data-date="{{ publication_date|utc|date:'c' }}">
                {% trans "Last updated on:" %} {{ publication_date|utc|localize }} UTC
            </p>
        {% endif %}
    </div>
{% endblock content %}
