$green-accent-color: #00BA50;
$green-accent-color-dark: #27a442;
$green-accent-color-light: #59c06c;
$yellow-accent-color: #FFDF0C;

$country-button-color: #F4F5F6;
$location-header-color: #EEEEEE;
$navbar-color: #FFFFFF;
$main-container-color: #FFFFFF;
$primary-color-5: #DDDDDD;
$primary-color-6: #CCCCCC;
$divider-color: #E2E2E2;
$divider-color-2: #BABABA;
$divider-color-3: #f6f6f6;
$text-color: #000000;
$text-color-muted: #454545;

// bootstrap responsive layout breakpoints
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

@mixin transition-mixin($property, $duration, $ease) {
  -webkit-transition: $property #{$duration}s $ease;
  -moz-transition: $property #{$duration}s $ease;
  -o-transition: $property #{$duration}s $ease;
  transition: $property #{$duration}s $ease;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items($value) {
  -ms-flex-align: $value;
  -webkit-box-align: $value;
  align-items: $value;
  -webkit-align-items: $value;
}

@mixin flex($value) {
  -webkit-box-flex: $value;
  -webkit-flex: $value;
  -ms-flex: $value;
  flex: $value;
}

@mixin justify-content($value) {
  justify-content: $value;
  -webkit-justify-content: $value;
  -webkit-box-pack: $value;
}

@mixin flex-direction($value) {
  @if $value == 'column' {
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: $text-color;
  background-color: $country-button-color;
  font-size: 14px;
  line-height: 1.4285;
  height: 100%;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $text-color-muted;
  }
}

p {
  margin: 0 0 10px;
}

// navbar
.navbar {
  background-color: $navbar-color;
  height: 50px;
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  @media (min-width: $screen-sm-min) {
    padding: 24px 0 0 0;
    height: 80px;
  }
}

.navbar-inner {
  @include flexbox();
  @include justify-content(space-between);
  padding-top: 5px;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  direction: ltr;
}

.navbar-left {
  .about-us, .give-feedback {
    text-decoration: underline;
    padding: 0 2px;
  }
}

.logo-container {
  @include flexbox();
  @include justify-content(center);
  position: absolute;
  width: 100%;
  direction: ltr;
  @media (max-width: $screen-xs-max) {
    display: block;
  }
  img {
    @media (min-width: $screen-sm-min) {
      position: absolute;
      margin-left: -85px;
    }
  }
}

.logo-bar-container {
  @include flexbox();
  @include justify-content(center);
}

.logo-bar {
  max-height: 25px;
}

.refugee-logo {
  max-height: 45px;
  &:hover {
    filter: brightness(140%);
    -webkit-filter: brightness(140%);
  }
  @media (max-width: $screen-xs-max) {
    max-height: 36px;
    margin: 7px;
  }
}

.navbar-language-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    padding: 12px 0;
    display: inline-block;
    a {
      padding: 3px 15px;
      display: block;
    }
  }
  .border-language {
    @media (min-width: $screen-sm-min) {
      border-right: 2px solid $divider-color;
    }
  }
}

.navbar-button-container {
  display: none;
  position: fixed;
  top: 10px;
  right: 5px;
  height: 30px;
  width: 30px;
  @media (max-width: $screen-xs-max) {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }
  label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
  }
  .navbar-menu {
    @include transition-mixin(transform, 0.2, ease-out);
    margin-top: 50px;
    height: 0;
    transform: scaleY(0);
    transform-origin: top;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: calc(100% - 50px);
    overflow: auto;
    background-color: $navbar-color;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    a {
      @include flexbox();
      @include align-items(center);
      height: 50px;
      width: 100%;
      border-bottom: 1px solid $divider-color-3;
      &:active {
        background-color: $country-button-color;
      }
      i {
        color: $text-color;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        width: 45px;
      }
      span {
        color: $text-color
      }
    }
    .section-header {
      padding-top: 20px;
      height: 50px;
      text-transform: uppercase;
      color: $green-accent-color;
      border-bottom: 1px solid $divider-color-2;
    }
  }

  input {
    display: none;
  }

  input:checked + .navbar-menu {
    padding: 10px;
    height: auto;
    transform: scaleY(1);
    .location-helper {
      display: block;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }
}

// main container
.view-container {
  @media (max-width: $screen-xs-max) {
    padding: 0 10px 10px 10px;
    margin-top: 50px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 0 30px 30px 30px;
    margin-top: 100px;
  }
  background-color: $main-container-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.view-container-padded {
  @media (max-width: $screen-xs-max) {
    padding: 10px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 30px;
  }
}

.header-center {
  font-size: 18px;
  text-align: center;
  margin: 30px 0 10px 0;
  font-weight: normal;
}

.get-app-container {
  padding-top: 20px;
  margin: 0;
  h1 {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }
    @media (min-width: $screen-sm-min) {
      padding-top: 20px;
    }
  }
  a img.google-play {
    max-width: 100%;
  }
  img.app-store {
    max-width: 100%;
  }
}

.title-bar {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  white-space: nowrap;
  background-color: $location-header-color;
  color: $text-color;
  font-size: 20px;
  padding: 10px 15px;
  margin: 0 0 15px 0;
  div {
    flex: 1
  }
}
.info-bar {
  margin: 0;
  padding: 10px 15px;
}

.version-notification {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(row);
  background-color: $location-header-color;
  padding: 15px;
  margin: 10px 0 0;
  text-align: center;
  p {
    margin: 0;
  }
  i.fa {
    font-size: 22px;
    color: $green-accent-color;
    padding: 0 15px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 12px;
    padding: 10px;
  }
}

.general-info-container {

  @media (max-width: $screen-xs-max) {
    padding: 10px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 30px;
  }
  img {
    max-width: 100%;
  }
  &:empty {
    display: none;
  }
  a {
    text-decoration: underline;
    &:hover {
      color: $text-color-muted;
    }
  }
}

.quick-links {
  font-weight: normal;
  font-size: 20px;
  margin: 15px 0 5px 0;

}

.general-info-box {
  border: 2px solid $divider-color;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.general-info-divider {
  width: 100%;
  border-top: 1px solid $divider-color;
}

.general-info-item {
  .general-info-item-content {
    display: none;
  }

  input {
    display: none;
  }

  input:checked + .general-info-item-content {
    display: block;
  }

  &.hide-from-toc {
    display: none;
    &:target {
      .general-info-item-header {
        background-color: $location-header-color;
      }
      display: block;
    }
  }
}

.general-info-item-header {
  height: 46px;
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-start);
  @include transition-mixin(background-color, 0.1, linear);
  color: $text-color;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid $divider-color;
  &:hover {
    background-color: $primary-color-5;
  }
  @media (max-width: $screen-xs-max) {
    text-align: start;
  }
  a {
    text-decoration: none;
    color: $text-color;
  }

  i {
    padding: 0 10px;
    font-size: 20px;
    width: 50px;
    color: $green-accent-color-dark;
  }
  .direction-filler {
    display: block;
    width: 35%;
    height: 100%;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
}

// styling data from API
.line {
  border: 0;
  border-bottom: 1px $divider-color solid;
}

hr {
  border: 0;
  border-bottom: 1px $divider-color solid;
}

.content-button {
  height: 25px;
  border: 1px white solid;
  padding: 2px 2px;
}

iframe {
  display: block
}

.g-translate {
  float: right;
  margin-top: 15px;
}

.lst-kix_6cj4gmv9r21z-0 > li:before, p a {
  color: $text-color;
}

h1.page-title {
  font-size: 36pt;
  margin-bottom: .5em;
  margin-top: .25em;

}

table.important {
  border: 1px white dashed;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1em;
}

table.important > tbody > tr:last-child > td {
  border-bottom: 0;
}

table.toc {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 2em;

}

table.toc .image {
  max-height: 30px;
}

table.toc td {
  border-bottom: 1px white solid;
  padding: 5px 5px;
  height: 30px;
}

table.toc a {
  text-decoration: none;
}

table.toc > tbody > tr > td:first-child {
  width: 40px;
}

.title-icon {
  width: 25px
}

hr.title-hr {
  margin: 0;
}

h3.anchor {
  margin-top: 2.5em;
  margin-bottom: 2px;
}

.border-table {
  .country-cell {
    white-space: nowrap;
    min-width: 200px;
  }
  .country-flag {
    width: 25px;
    margin-right: 5px;
  }
}

a.link-button {
  @include transition-mixin(background-color, 0.15, linear);
  background-color: $green-accent-color;
  color: white !important;
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  &:hover {
    background-color: $green-accent-color-dark;
  }
}

a.link-button-reversed {
  @include transition-mixin(background-color, 0.15, linear);
  background-color: white !important;
  border: 1px $green-accent-color solid !important;
  color: $green-accent-color !important;
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  &:hover {
    background-color: $green-accent-color !important;
    color: white !important;
  }
}
img.img-centered {
  display: block;
  margin: 0 auto;
}

// general info
.general-info-item-content {
  padding: 10px 0;
  color: $text-color-muted;
  border-bottom: 1px solid $divider-color;
  img {
    max-width: 100%;
  }
  a {
    color: $text-color;
    &:hover {
      color: $text-color-muted;
    }
  }
  h2 {
    font-size: 24px;
    margin: 15px 0 10px 0;
  }
  table {
    border: 2px solid $divider-color;
    margin-bottom: 10px;
    td {
      border: 2px solid $divider-color;
      padding: 5px 10px;
      p {
        margin: 0
      }
    }
  }
}

.general-info-date {
  margin: 10px 0 -5px 0;
  color: $text-color-muted;
  font-size: 10px;
  float: right;
}

.important-information-container {
  @media (min-width: $screen-sm-min) {
    border-top: 1px solid $divider-color-2;
    border-bottom: 1px solid $divider-color-2;
    @include flexbox();
    height: 70px;
  }
}

.important-information-item {
  @include flex(1);
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include transition-mixin(background-color, 0.2, ease-out);
  color: $text-color-muted;
  background-color: transparent;
  margin: 0 !important;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  &:hover {
    background-color: $primary-color-5;
  }
  &:last-of-type {
    .important-information-item-inner {
      border-right: 0;
    }
  }
  &.active {
    background-color: $primary-color-5;
  }
}

.important-information-item-inner {
  width: 100%;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(row);
  @media (max-width: $screen-xs-max) {
    border-top: 1px solid $divider-color-2;
    height: 50px;
  }
  @media (min-width: $screen-sm-min) {
    border-right: 1px solid $divider-color-2;
    height: 45px;
  }
}

.green-bar {
  margin: 0;
  background-color: $green-accent-color;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  padding: 6px 0;
  color: #f8fefc;
  &:empty {
    display: none;
  }
}

// location accordion
.location-accordion {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .location-flag, .location-icon {
    height: 24px;
    width: 54px;
    padding: 0 15px;
    @media (max-width: $screen-xs-max) {
      position: absolute;
      top: 8px;
    }
  }
  .direction-filler {
    display: block;
    width: 40%;
    height: 100%;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  label {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
    @include transition-mixin(background-color, 0.2, linear);
    background-color: $country-button-color;
    border-top: 1px solid $divider-color;
    color: $text-color;
    text-decoration: none;
    padding: 0 15px;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    &:hover {
      background-color: darken($country-button-color, 5%);
    }
    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }
  .content {
    @include transition-mixin(transform, 0.2, ease-out);
    height: 0;
    transform: scaleY(0);
    transform-origin: top;
  }

  input {
    display: none;
  }

  input:checked + .content {
    height: auto;
    transform: scaleY(1);
    .location-helper {
      width: 40%;
      display: block;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  a.location {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
    @include transition-mixin(background-color, 0.2, linear);
    text-overflow: clip;
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    position: relative;
    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }

  a.location-country {
    background-color: $primary-color-5;
    &:hover {
      background-color: darken($primary-color-5, 5%);
    }
  }

  a.location-region {
    background-color: $divider-color;
    &:hover {
      background-color: darken($divider-color, 5%);
    }
  }

  a.location-camp {
    background-color: $divider-color-3;
    &:hover {
      background-color: darken($divider-color-3, 5%);
    }
  }
}

span.location-helper {
  line-height: 40px;
  font-size: 12px;
  display: none;
  text-transform: uppercase;

}

span.location-name {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
}

span.location-label-name {
  white-space: nowrap;
  @media (max-width: $screen-xs-max) {
    text-align: center;
    display: block;
    width: 100%;
  }
}

a.location-closest {
  @include transition-mixin(background-color, 0.2, ease-out);
  position: relative;
  background-color: $green-accent-color;
  color: #FFFFFF;
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
  text-overflow: clip;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  &:hover {
    background-color: $green-accent-color-dark;
  }
  span.location-helper {
    display: block;
    position: absolute;
    top: 0;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  span.location-name {
    position: relative;
  }
}

//about page
.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.about-container {
  color: $text-color;
  a {
    color: $text-color-muted;
    text-decoration: underline;
  }
  .divider {
    border-bottom: 1px $divider-color solid;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

// footer
footer {
  padding: 50px 0 20px 0;
  text-align: center;
  color: $text-color-muted;
  a {
    color: $text-color;
    &:hover {
      color: $text-color-muted;
    }
  }
}

.align-center {
  text-align: center;
}

.change-location-button {
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-end);
  @include flex-direction(row);
  color: $green-accent-color !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  i {
    display: block;
    padding: 0 10px;
  }
  span {
    display: block;
  }
  &:hover {
    color: $green-accent-color-dark !important;
  }
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}